/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


@font-face {
    font-family: "font_main";
    src: url('../fonts/Regular.otf');
}

@font-face {
    font-family: "font_light";
    src: url('../fonts/Light.otf');
}


body {
    font-family: 'font_light' !important;
}

.navigation {
    font-family: 'font_light' !important;
}

.img_menu_01 {
    width: 90%;

    height: 180px;
    margin: 10px auto;
}

.img_menu_01 img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.error_page {
    display: block;
    max-width: 50%;
    padding-right: 320px;
    text-align: center;
    margin: 40px auto;
}

.error_page img {
    display: block;
    margin: 20px auto;
    padding-top: 70px;
    width: 100%;
}

.error_page h3 {
    color: #6c63ff;
    font-size: 50px;
}

#pac-input {
    z-index: 0;
    position: absolute;
    left: 189px;
    top: 13px !important;
    width: 75%;
}

label {
    color: #5E5873;
    font-size: 0.857rem;
    font-size: 17px;
}

.item_card {
    display: flex;
    gap: 25px;
    padding: 20px;
    align-items: start;


}

.item_card ul li {
    list-style-type: none;
    margin: 10px 0;
}

.item_card ul {
    padding: 0;
}


.item_card .card-body {
    padding: 0;
}



.main-menu.menu-light .navigation>li>a {
    margin: 0 0px !important;
}

.main-menu.menu-light .navigation>li.active>a {
    background: -webkit-linear-gradient(208deg, #E5E5E5, #E5E5E5);
    background: linear-gradient(-118deg, #E5E5E5, #E5E5E5);
    box-shadow: none;
    color: #1E1E1E;
    font-weight: 400;
    border-radius: 0px;

}

.cat-item {
    padding-bottom: 10px !important;

}

.cat-item img {
    max-width: 50px;
    object-fit: contain;
    height: 65px;
}

.cat-item .font-weight-bolder {
    font-weight: 100 !important;
    font-size: 18px !important;
}

.btn-primary:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #f6931e;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary {
    color: #FFFFFF;
    background-color: #f6931e !important;
    border: #f6931e;
}

.btn-info {
    border-color: #E5E5E5 !important;
    background-color: #E5E5E5 !important;
    color: #1E1E1E !important;
}

.page-item.active .page-link {
    background-color: #f6931e;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #FFFFFF;
    background-color: #f6931e;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1E1E1E;
    text-decoration: none;
    background-color: #f6951e25;
}

.nav-pills .nav-link.active {
    background-color: #f6931e;
    border-color: #f6931e;
    box-shadow: none;
}

.form-control:focus {
    color: #6E6B7B;
    background-color: #FFFFFF;
    border-color: #1E1E1E;
    outline: 0;
    box-shadow: none;
}

.card {
    padding: 20px !important;
}


a {
    color: #1E1E1E;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #f6931e;
    text-decoration: none;
    background-color: transparent;
}

.card.home-item {
    padding: 0 !important;
}

.datatables-basic {
    white-space: nowrap;
}


.login_new_page {
    min-height: 100vh;
    background-image: url(../../app-assets/images/pages/auth-screen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 100%;
    background-position: center;
}

.login_new_page::after {
    content: "";
    top: 20px;
    left: 20px;
    width: 200px;

    filter: brightness(0) invert(1);
    background-repeat: no-repeat;
    height: 200px;
    background-size: contain;
    position: absolute;
    background-image: url(../../app-assets/images/pages/2030.png);
}

.sub_login_new_page {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    margin: auto;

    width: 50%;
}

.sub_login_new_page .form-control {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    padding: 0 20px;
    font-size: 14px;
    color: #5E5873;
    font-weight: 400;
    background-color: #FFFFFF;
    box-shadow: none;
    margin: 5px 0;

}

.sub_login_new_page .input-group:not(.bootstrap-touchspin):focus-within .form-control,
.sub_login_new_page .input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
    border: none;
    box-shadow: none;
}

.sub_login_new_page .input-group-text.cursor-pointer {
    height: 50px;
    vertical-align: middle;
}

.sub_login_new_page .input-group-append {
    margin: 5px -1px;
}

.logo_login_new_page {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    height: 220px;
}

.logo_login_new_page img {
    max-width: 100%;
    max-height: 100%
}

#tblMafkodat_wrapper button {
    background: #f6931e;
    height: 40px;
    width: 105px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 10px;
}

#tblMafkodat_wrapper button:hover {
    box-shadow: 0px 0px 8px #f6951e75;
}

#tblItemMafkodat {
    white-space: nowrap;
}

#tblItemMafkodat_wrapper button {
    background: #f6931e;
    height: 40px;
    width: 105px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 10px;
}

#tblItemMafkodat_wrapper button:hover {
    box-shadow: 0px 0px 8px #f6951e75;
}

.drop_01 {
    left: 22px;
    position: absolute;

}


.drop_01 .dropdown-toggle::after {
    right: auto;
    top: -2px !important;
    left: -3px !important;
}

.drop_01 .dropdown-menu.dropdown-menu-right,
.drop_01 .dropdown-menu.dropdown-menu-right,
.drop_01 .btn-group .dropdown-menu.dropdown-menu-right {
    left: 39px !important;
    right: auto !important;
}

.drop_01 select#station_select {
    margin: 3px 0;
}

.drop_01 .dropdown-menu input {
    margin: 3px 0;
}

.drop_01 .dropdown-menu.dropdown-menu-right.show {
    padding: 10px 10px 0px;
}


.main-menu .main-menu-content {
    overflow: auto !important;
}

.main-menu .main-menu-content {
    height: 74% !important;
    position: relative;
}

li.breadcrumb-item {
    min-width: 100px;
    display: flex;
    height: 43px;
    align-items: center;
    background: #f6931e;
    position: relative;
    color: #fff;
    margin-left: 10px;
    padding: 5px 20px 5px 40px;
}

li.breadcrumb-item a {
    color: #fff;

}

li.breadcrumb-item::before {
    display: none !important;
}

li.breadcrumb-item::after {
    content: "";
    border-right: solid 15px #f8f8f8;
    border-bottom: solid 15px transparent;
    border-top: solid 15px transparent;
    user-select: none;
    z-index: 111;
    position: absolute;
    bottom: -10px;
    left: -3px;
    transform: rotate(316deg);
}
